<html>
<head>
    <style>
        body {
            font-size: 12px;
        }
        .footer {
            /* position: absolute; */
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            background-color: #752727;
            color: white;
            text-align: center;
            line-height: 35px;
        }
    </style>
</head>
<body>
    <div class="footer">
        <img src="data:image/png;base64,{{ base64_image }}" alt="Logo" style="height: 80%; width: 10%;">
    </div>
</body>
</html>
